<h1>Card</h1>
<div id='card'>
    {{#if courses.length}}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{count}}</td>
                        <td>
                            <button
                                class='btn btn-small js-remove'
                                data-id='{{id}}'
                            >Delete</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <p>
            <div class='buy'>
                <strong>Price:</strong>
                <span class='price'>{{price}}</span>
                <form action='/orders' method='POST'>
                    <input type='hidden' name='_csrf' value={{csrf}} />
                    <input type='hidden' name='id' value='{{id}}' />
                    <button type='submit' class='btn'>Make an order</button>
                </form>
            </div>
        </p>
    {{else}}
        <p>Card is empty</p>
    {{/if}}
</div>